let g:dotvim_settings = {}
let g:dotvim_settings.version = 1

let g:dotvim_settings.max_column = 80

let g:dotvim_settings.plugin_groups_include = ['web', 'ruby', 'python', 'javascript', 'autocomplete']

" finally, load the distribution
source ~/.vim/vimrc

set wildignore+=\*/node_modules/\*

autocmd Syntax * call matchadd('Error', '\(STOPSHIP\|XXX\)')
autocmd Syntax * call matchadd('Todo', '\(TODO\|FIXME\|HACK\)')
